@font-face {
	font-family: 'Droid Arabic Kufi';
	src: url(../../assets/fonts/DroidArabicKufi.woff2) format('woff2'),
	url(../../assets/fonts/DroidArabicKufi.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}